body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* Bakgrunnsbilde med et hvitt, halv-gjennomsiktig lag over */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/akademiet.jpg');
    background-size: cover; /* Sørger for at bildet dekker hele flaten */
    background-position: center; /* Sentrerer bildet */
    background-attachment: fixed; /* Låser bakgrunnen under scrolling */
    margin: 0;
}

nav {
    background-color: #FF9B21;
    width: 100%;
    padding: 5px;
}

nav h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Jetbrains Mono', monospace;
}

footer {
    background-color: #FF9B21;
    width: 100%;
    padding: 10px
}

footer p {
    color: white;
    text-align: center;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.7);
    font-family: 'Jetbrains Mono', monospace;
}

/* Sier at body skal fylle hele kjermen, derfor blir footer pushet ned til bunnen av skjermen */
.content { 
    flex-grow: 1;
}

.tittel {
    font-family: 'Jetbrains Mono', monospace;
    color: black;
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 4px rgba(100, 100, 100, 0.7);
}
