<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/aka.jpg') }}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <h1>Akademiet VGS Oslo</h1>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <p> &copy; Utviklet av Audun Midtgård Meckelborg - November 2025</p>
    </footer>

    <script>
        const runawayButton = document.getElementById('runaway-btn');

        if (runawayButton) {
            runawayButton.addEventListener('mouseover', () => {
                // Hent vinduets dimensjoner
                const viewportWidth = window.innerWidth;
                const viewportHeight = window.innerHeight;

                // Hent knappens dimensjoner
                const buttonWidth = runawayButton.offsetWidth;
                const buttonHeight = runawayButton.offsetHeight;

                // Kalkuler en ny tilfeldig posisjon
                const newTop = Math.random() * (viewportHeight - buttonHeight);
                const newLeft = Math.random() * (viewportWidth - buttonWidth);

                // Oppdater knappens posisjon
                runawayButton.style.top = `${newTop}px`;
                runawayButton.style.left = `${newLeft}px`;
            });
        }
    </script>
</body>
</html>