<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/aka.jpg') }}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body id="{% block body_id %}{% endblock %}" class="preload">
    <!-- Loader som vises mens siden laster -->
    <div class="loader-container">
        <div class="loader-text">Loading...</div>
    </div>

    <nav>
        <h1 class="nav-tittel">Akademiet VGS Oslo</h1>

        <ul>
            <li><a href="/">Hjem</a></li>
            <li><a href="/om_oss">Om oss</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <p> &copy; Utviklet av Audun Midtgård Meckelborg - November 2025</p>
    </footer>

    <script>
        // Venter til alt innhold er lastet, fjerner deretter 'preload'-klassen for å starte fade-in-animasjonen.
        window.addEventListener('load', () => {
            document.body.classList.remove('preload');
        });
    </script>
</body>
</html>