{% extends "base.html" %}

{% block title %}Akademiet VGS Oslo{% endblock %}

{% block content %}

<div class="om-oss-container">
    <h2 class="sidetittel">En skole hvor du gleder deg til Mandag!</h2>
    
    <p class="info-tekst"> <!-- Info tekst som vises på kjermen-->
        Er du klar for neste steg etter ungdomsskolen? På Akademiet VGS Bislett finner du et unikt og inkluderende miljø hvor læring er spennende og kreativt. Vi er en skole som er stolt av vårt gode samhold, dyktige lærere og fokus på din faglige og personlige utvikling.
        <br><br>
        Drømmer du om å lage spill, designe nettsider, produsere filmer eller dykke inn i programmeringens verden? Da er vår fantastiske linje for <strong>Informasjonsteknologi og Medieproduksjon (IM)</strong> det perfekte valget for deg! Her får du utfolde deg kreativt med den nyeste teknologien og jobbe med prosjekter du brenner for. Du blir en del av et klassemiljø hvor dine ideer blir tatt på alvor, og du får et solid grunnlag for fremtidens mest spennende jobber og studier.
        <br><br>
        Velg en fremtid fylt med kreativitet, teknologi og et supert fellesskap. Vi gleder oss til å se deg hos oss på Bislett!
    </p>
</div>

{% endblock %}